/* Custom CSS Stylesheet */

/*** *** *** *** *** *** Page: Index *** *** *** *** *** ***/

/*--GENERAL--*/

html,
body {

    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    padding: 0;
}

h4,
p,
span {
    font-size: 1em;
}

/***--- --- --- HEADER --- --- ---***/

header {
    height: 7.5vh;
}

/***--- --- --- MAIN --- --- ---***/

/*--SCORE PANEL--*/

.score-panel {}


.collectibles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
}

.total {
    grid-column: 1/4;
    grid-row: 1;
    height: 10vh;
}

.fly {
    grid-column: 1;
    grid-row: 2;
    height: 10vh;
}

.dragonfly {
    grid-column: 2;
    grid-row: 2;
    height: 10vh;
}

.butterfly {
    grid-column: 3;
    grid-row: 2;
    height: 10vh;
}

.scores,
.life {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 20vh;
}

.scores-board,
.life-no {
    grid-row: 1;
}

.scores-water,
.levels {
    grid-row: 2;
}

.logo-img {
    height: 10vh;
}

.coll-img {
    height: 5em;
}

#score-water,
#lives,
.numbers {
    font-weight: 700;
    font-size: 2em;
    line-height: 0.5em;
}

.heart {
    display: inline-block;
}

/*--GAME--*/

canvas {
    display: block !important;
    margin: 0 auto;
}

/***--- --- --- FOOTER --- --- ---***/

footer {
    height: 5vh;
}

/***--- --- --- MODALS --- --- ---***/

..modal {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    background-color: #fafafa;
    padding: 0;
    max-height: 70%;
    width: 55%;
    margin: 10vh auto;
    overflow-y: auto;
    border-radius: 2px;
    will-change: top, opacity;
}

.modal-content > .coll-img {
    height: 5vh;
}

/*--START GAME MODAL--*/

[type="radio"]:not(:checked),
[type="radio"]:checked,
[type="checkbox"],
[type="radio"] {
    position: relative !important;
    opacity: 100 !important;
    pointer-events: visible !important;
}



/*-------------THE ᕕ( ᐛ )ᕗ END-----------------*/
