/* Custom CSS Stylesheet */

/*** *** *** *** *** *** Page: Index *** *** *** *** *** ***/

/*--GENERAL--*/

html,
body {
    margin: 0 auto;
    padding: 0;
    line-height: 1em;
    font-family: 'Montserrat', sans-serif;
    color: #454c53
}

h4 {
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1em;
    margin: 0.1em auto;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: #84a93f;
}

a:hover {
    color: #62883b;
}

/***--- --- --- HEADER --- --- ---***/

header {
    height: 7vh;
    margin: 0 auto;
}

.logo-img {
    height: 5vh;
}

/***--- --- --- MAIN --- --- ---***/

.container {
    margin: 0 auto !important;
    height: 100vh;
}

/*--SCORE PANEL--*/

.score-panel {
    height: 15vh;
    margin: 0 auto 1em auto;
    background-color: #454c53;
}


.collectibles {
    height: 13vh;
    padding: 1em;
    margin: 0;
    margin: 0.5vh;
}

.total {
    max-height: 4vh;
    padding: 1em;
}

.fly,
.dragonfly,
.butterfly {
    max-height: 5vh;
    padding: 0.5em;
}

.scores-board,
.scores-water,
.life-no,
.levels {
    height: 6vh;
    margin: 0.5vh;
    padding: 0.5em;
}

.life-no {
    height: 6vh;
    margin: 0.5vh;
    padding: 0;
}

.total {
    height: 4vh;
    margin: 0.5vh;
    padding: 0.5em;
}

#score-water,
#lives,
.numbers {
    font-weight: 700;
    font-size: 1.5em;
    margin: 0.1em auto;
}

.coll-img {
    max-height: 5vh;
}



.heart {
    display: inline-block;
    height: 2.5em;
    margin: 0 0.5vh;
}

/*--GAME--*/

#game {
    height: 75vh;
}

canvas {
    height: 74vh;
    display: block;
    margin: 0 auto !important;
    align-self: center;
    position: relative;
    background-color: #fff;
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    border-radius: 2px;
    padding: 0
}

/***--- --- --- FOOTER --- --- ---***/

footer {
    height: 5vh;
    background-color: #454c53 !important;
    color: ghostwhite;
}

.how-to {
    margin: 0.75vh;
    width: 95%;
    height: 3.5vh;
}

/***--- --- --- MODALS --- --- ---***/

.btn {
    background-color: #84a93f;
}

.btn:hover {
    background-color: #62883b;
    color: gainsboro;
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    background-color: #fafafa;
    padding: 0;
    max-height: 70%;
    width: 55%;
    margin: 10vh auto;
    overflow-y: auto;
    border-radius: 2px;
    will-change: top, opacity;
}

.modal-overlay {
    position: fixed;
    z-index: 999;
    top: -25%;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background: #000;
    display: none;
    will-change: opacity;
}

.modal-header {
    padding: 1em;
}

.modal-header > p {
    text-transform: uppercase;
    font-weight: 600;

}

.modal-content > .coll-img {
    height: 5vh;
    z-index: 1000;
}

.choosePlayer {
    height: 10vh;
}

/*--START GAME MODAL--*/

[type="radio"]:not(:checked),
[type="radio"]:checked,
[type="checkbox"],
[type="radio"] {
    position: relative !important;
    opacity: 100 !important;
    pointer-events: visible !important;
}

#start-modal,
#modal-gameover {
    z-index: 200;
}

#start-game {
    width: 75%;
}

/*--GAME OVER MODAL--*/

.finals {
    display: grid;
    grid-template-rows: 1fr 1fr;
    max-height: 10vh;
    justify-content: center;
    align-content: center;
}

/*--HOW-TO MODAL--*/

.understood {
    width: 100%;
    margin: 1em;
}

/*-------------THE ᕕ( ᐛ )ᕗ END-----------------*/
